/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* FONT */
:root {
  --font-worksans: 'Work Sans', sans-serif;
}

:root {
	--margin-top: 50px;
  --margin-bottom: 50px;
  --margin-left: 150px;
  --margin-right: 50px;
}

body{
  background-color: #ffffff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
		height: 600px;
		border-bottom: 1px solid;
		overflow: hidden;
}

.middle-line {
	border-left: 1px solid #000; 
  height: 100%; 
  margin-left: 10px; 
  margin-right: 10px;
}

.background-circle{
	background: conic-gradient(
    from 0deg at 50% 50%,   
    #E7C2C3,                
    #de8ea6,               
    #b692d4,               
    #EBE0DC                 
  );
  border-radius: 90%;
  width: 500px;
	height: 500px;
  filter: blur(50px);
  z-index: 1;
}

h1 {
  position: relative;
  font-family: var(--font-worksans);
  font-size: 3em;
  font-weight: 400;
  line-height: 60px;
  margin-top: calc(4 * var(--margin-top));
	margin-left: var(--margin-left);
	margin-right: var(--margin-right);
  margin-bottom: calc(0.5 * var(--margin-top));
  z-index: 2;
  color: #184772;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
	padding-right: 90px;
  margin-bottom: 70px; 
}

main div:first-child {
  margin-top: calc(3 * var(--margin-top)); 
}

.author {
	font-family: var(--font-worksans);
  display: flex;
  text-align: left;
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
  font-size: 1.1em;
  margin-bottom: 150px;
  justify-content: space-between;
	flex-direction: column;
	color: #184772;
}

section div p {
  font-family: var(--font-lora);
  font-size: 1.4em;
  margin-bottom: 30px;
  text-align: left;
  width: 40%;
  line-height: 30px;
  font-weight: 400;
}

