@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Fraunces:opsz@9..144&family=Figtree:wght@300;400;500;600&display=swap');

h1{
	font-family: 'Cormorant Garamond', serif;
	font-size: 112.72px;
	letter-spacing: -0.04em;
	line-height: 90px;
	text-transform: uppercase;
	text-align: right;
	width: 47.5%;
}
.header-quote{
	font-family: 'Fraunces', serif;
	color: #E53935;
	font-size: 54px;
	line-height: 50px;
	text-align: left;
	margin-top: -200px;
	margin-left: 805px;
	width:30%
}
.text-uppercase{
	text-transform: lowercase;
}
.text-uppercase:first-letter{
	text-transform: uppercase;
}
hgroup{
	margin-top: 255px;
	margin-bottom: 320px;
}
header{
	font-family: 'Figtree', sans-serif;
	font-size: 22px;
	font-weight:400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 100px;
	margin-bottom: 100px;
}
.text-container {
	width: 100%;
	overflow: hidden;
}
.left-align {
	float: left;
	text-align: left;
}
.center-align {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.right-align {
	float: right;
	text-align: right;
}
body{
	font-family: 'Figtree', sans-serif;
	font-weight: 300;
	font-size: 20px;
	background-color: #FCF9F1;
	padding: 20px
}
p{
	line-height: 1.4;
	margin-bottom: 30px;
}
.body-quote{
	font-family: 'Fraunces', serif;
	font-size: 55px;
	line-height: 53px;
	width: 30%
}
.body-quote-color1{
	color: #FFB74D;
	margin-bottom:-270px;
	margin-left: 120px;
}
.body-quote-color2{
	color: #FED850;
	margin-bottom:-210px;
	margin-left: 900px;
}
.body-quote-color3{
	color: #388E5A;
	margin-bottom:-170px;
	margin-left: 120px;
}
.body-quote-color4{
	color: #42A5F5;
	margin-bottom:-390px;
	margin-left: 900px;
}
.body-quote-color5{
	color: #8756D5;
	margin-bottom:-250px;
	margin-left: 120px;
}
.text-to-right{
	margin-bottom: 200px;
	margin-left: 700px;
	margin-right: 120px;
}
.text-to-left{
	margin-bottom: 200px;
	margin-left:120px;
	margin-right:700px;
}
footer{
	font-family: 'Figtree', sans-serif;
	font-size: 18px;
	font-weight:400;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: -10px;
}
em{
	font-style: italic;
}
.rectangle-tab {
	width: 17%;
	height: 50px;
	margin-right: -10px;
	display: inline-block;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	transform-origin: bottom center;
}
.red {
	background-color: #E53935;
}
.rectangle-tab.red:hover {
	transform: scale(1.1);
}
.orange {
	background-color: #FFB74D;
	z-index: 2;
}
.rectangle-tab.orange:hover {
	transform: scale(1.1);
}
.yellow {
	background-color: #FED850;
}
.rectangle-tab.yellow:hover {
	transform: scale(1.1);
}
.green {
	background-color: #388E5A;
}
.rectangle-tab.green:hover {
	transform: scale(1.1);
}
.blue {
	background-color: #42A5F5;
}
.rectangle-tab.blue:hover {
	transform: scale(1.1);
}
.purple {
	background-color: #8756D5;
}
.rectangle-tab.purple:hover {
	transform: scale(1.1);
}
a:hover{
	text-decoration: underline;
}
