@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');

/* VARIABLES */

/* FONT */
:root {
	--font-garamond: 'Cormorant Garamond', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

/* FONT DETAILS */
:root {
  --black: #000;
  --headerfont-size: 2.5em;
	--h1-font-size: 4.3em;
	--subheading-font-size: 1.45em;
  --body-font-size: 1.2em;
  --breadcrumb-size: 15px;
}

/* MARGINS */
:root {
  --margin-top: 40px;
  --margin-bottom: 30px;
  --margin-left: 23px;
  --margin-right: 23px;
	--margin-left-article: 23px;
	--margin-right-article: 23px;
  --quote-padding: 18px;
  }


/* HEADER ELEMENTS */
header{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
	background-color: black;
}

header p:first-child {
  font-family: var(--font-garamond);
  font-weight: 500;
  font-style: italic;
  font-size: calc(0.6 * var(--headerfont-size));
  margin-bottom: -5px;
	color: white;
}

header p:nth-child(2) {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: calc(0.4 * var(--headerfont-size));
  margin-bottom: -5px;
	color: white;
}


/* BREADCRUMB */

.breadcrumbs-container{
	display: flex;
	flex-direction: column;
	font-family: var(--font-dm-sans);
	font-weight: 400;
	font-size: var(--breadcrumb-size);
	margin-left: var(--margin-left-article);
	margin-top: var(--margin-top);
}

.breadcrumbs-container p:nth-child(1) a {
	color: rgba(0, 0, 0, 0.361);
}

.breadcrumbs-container p:nth-child(1) a:hover {
	color: black;
}

.breadcrumbs-container span {
    padding-left: 10px; 
}

/* PAGE TITLE */

.pagetitle-section{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	margin-top: var(--margin-top);
	margin-left: var(--margin-left-article);
	margin-right: var(--margin-right-article);
}

.pagetitle-container{
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: var(--font-garamond);
  font-weight: 500;
  font-style: italic;
  font-size: var(--h1-font-size);
	line-height: 0.8;
}

h1 div {
	display: flex;
	}

.pagetitle-container p:nth-of-type(1) {
  font-family: var(--font-dm-sans);
  font-weight: 300;
	font-size: calc(0.7 * var(--subheading-font-size));
	padding-top: 15px;
}

.author {
  text-decoration: underline;
}

.date {
  color: rgba(0, 0, 0, 0.509);
}

.pagetitle-container p:nth-of-type(2) {
  font-family: var(--font-dm-sans);
  font-weight: 400;
	font-size: var(--subheading-font-size);
	padding-top: 55px;
	line-height: 1.1;
  max-width: 330px;
}
.article1-decor, .article2-decor, .article3-decor{
  height: 250px; 
  width: 250px;
  margin-bottom: var(--margin-bottom);
}

.article1-decor{
  background:
  linear-gradient(to bottom right,#B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) bottom right,
  linear-gradient(to bottom left, #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) bottom left,
  linear-gradient(to top left,    #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) top left,
  linear-gradient(to top right,   #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) top right;        
  border-radius: 50%; 
  background-size:50.1% 50.1%;
  background-repeat:no-repeat;
}

.article2-decor{
  background:
  linear-gradient(to bottom, #D94040, #f8b568);       
}

.article3-decor{
  background: conic-gradient(
    from 180deg at 50% 50%, 
    #3877F1,                                
    #949fff34                 
  );     
  border-radius: 50%; 
}

.pagetitle-line{
	border-bottom: 1px solid #000; 
	margin-left: var(--margin-left-article);
	margin-right: var(--margin-right-article);
	padding-top: 70px;
}


/* ARTICLE */

article{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: var(--margin-left-article);
  margin-right: var(--margin-right-article);
}

article p{
  font-family: var(--font-dm-sans);
  font-weight: 300;
	font-size: var(--body-font-size);
	margin-top: 40px;
	line-height: 1.2;
}

h2 {
  font-family: var(--font-garamond);
  font-weight: 400;
  font-style: italic;
	font-size: calc(2 * var(--body-font-size));
  margin-left: -2px;
}

h3{
  font-family: var(--font-garamond);
  font-weight: 400;
  font-style: italic;
	font-size: calc(1.8 * var(--body-font-size));
}

article p:nth-of-type(1) {
	margin-top: 10px;
}

article section{
	margin-top: 100px;
}

/* QUOTE */

blockquote{
  font-family: var(--font-dm-sans);
  font-weight: 400;
	font-size: calc(1.6 * var(--body-font-size));
  line-height: 0.95;
  text-align: center;
  padding-left: var(--quote-padding);
  padding-right: var(--quote-padding);
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

blockquote br {
  display: none;
}


/* 500PX */
@media screen and (min-width: 500px) {

:root{
	--margin-left-article: 30px;
	--margin-right-article: 30px;
  --body-font-size: 1.28em;
  --headerfont-size: 2.5em;
	--h1-font-size: 4.3em;
	--subheading-font-size: 1.5em;
}

article{
  margin-left: auto;
  margin-right: auto;
  max-width: 440px;
}

blockquote{
  max-width: 380px;
}

}


/* 662PX */
@media screen and (min-width: 662px) {

:root{
  --margin-top: 60px;
}

.breadcrumbs-container{
  flex-direction: row;
}

.breadcrumbs-container p:nth-child(2) {
  padding-left: 10px; 
}

.article1-decor, .article2-decor, .article3-decor{
  height: 260px; 
  width: 260px;
  margin-bottom: 0;
}

.pagetitle-section{
	flex-direction: row;
	align-items: center;
  margin-top: calc(1.2* var(--margin-top));
}

}


/* 800PX */
@media screen and (min-width: 850px) {

:root {
  --headerfont-size: 3em;
	--h1-font-size: 5.5em;
  --body-font-size: 1.4em;
  --breadcrumb-size: 17px;
	--margin-left-article: 60px;
	--margin-right-article: 60px;
  }

.article1-decor, .article2-decor, .article3-decor{
  height: 300px; 
  width: 300px;
  margin-bottom: 0;
}

article{
  max-width: 500px;
}

blockquote{
  max-width: 405px;
}

}

/* 1060PX */
@media screen and (min-width: 1060px) {

    
article{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: var(--margin-right-article);
}


}



.pagetitle-container p:nth-of-type(2) {
  max-width: 330px;
}