/* VARIABLES */

/* FONT */
:root {
	--font-garamond: 'Cormorant Garamond', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

/* FONT DETAILS */
:root {
  --smalltitle-font-size: 2.3em;
  --article-font-size: 1.6em;
  --subtext-font-size: 0.8em;
  --body-font-size: 1.2em;
  --heading-font-size: 1.8em;
}

/* MARGINS */
:root {
  --margin-top: 50px;
  --margin-bottom: 50px;
  --margin-left: 23px;
  --margin-right: 23px;
  --circle-margin-top: -90%;
  --bigtitle-margin-top: -40%;
  }


/* WEBSITE TITLE */
h1{
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  align-items: center;
}

.smalltitle-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
}

.text-colorful, .text-shaping{
  font-family: var(--font-garamond);
  font-style: italic;
  font-size: var(--smalltitle-font-size);
  margin-left: 50px;
}

.text-insights, .text-design{
  font-family: var(--font-dm-sans);
  font-size: calc(0.8 * var(--smalltitle-font-size));
}

.text-design{
  margin-left: 10px;
}


/* BACKGROUND DECORATION */
.background-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--circle-margin-top);
  overflow: hidden;
  height: 160vw; 
}

.background-circle{
  background: conic-gradient(
    from 45deg at 50% 50%, 
    #BEC193,    
    #4A57E6,                
    #F36A3F,                             
    #F2F06D                 
  );
  width: clamp(300px,70vw,430px);
  height: clamp(300px,70vw,430px); 
  border-radius: 50%; 
  filter: blur(8vmin); 
  z-index: -100000;
  scale: 1.4;

  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BIG TITLE */
.big-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-top: var(--bigtitle-margin-top);
}

.big-title {
  font-family: var(--font-garamond);
  font-weight: 400;
  font-style: italic;
  font-size: 32.1vw;
  letter-spacing: -0.07em;
  text-align: center; 
  text-indent: -0.12em;
}

.sub-text {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--subtext-font-size);
  margin-bottom: -16px;
  margin-left: 5px;
  margin-right: 5px;
}

/* PAGE INTRO */

.intro-box{
  display: flex;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(3 * var(--margin-top));
  margin-bottom: calc(3.5 * var(--margin-top));
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.intro-heading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  line-height: 60px;
}

.intro-heading p:nth-child(1) {
  font-family: var(--font-garamond);
  font-weight: 400;
  font-style: italic;
  font-size: calc(2.3 * var(--heading-font-size));
  text-indent: -0.12em;
}

.intro-heading p:nth-child(2) {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--heading-font-size);
  margin-left: 10px;
  letter-spacing: 0.04em;
}

.intro-line {
  border-bottom: 1px solid black;
  width: 150px; 
}

.intro-text {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: 1.15;
  margin-top: 20px;
  max-width: 365px;
}


/* EXPLORE HERE */

.explore-heading {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: baseline;
  margin-left: var(--margin-left);
}

.explore-heading p:nth-child(1) {
  font-family: var(--font-garamond);
  font-weight: 400;
  font-style: italic;
  font-size: calc(2 * var(--heading-font-size));
}

.explore-heading p:nth-child(2) {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: calc(0.9 * var(--heading-font-size));
  letter-spacing: 0.04em;
  padding-left: 10px;
}

/* ARTICLE BOXES */

.article-big-box{
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  margin-top: calc(0.5 * var(--margin-top));
  margin-bottom: calc(5.5 * var(--margin-top));
  margin-left: var(--margin-left);
  margin-right: var(--margin-right);
}

.article-box {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-top: none;
}

a:nth-child(1) .article-box {
  border-top: 1px solid #000;
}

.article-box p {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: var(--article-font-size);
  letter-spacing: -1px;
  line-height: 25px;
  padding-left: 1.5em;
  text-align: left;
}

.article-box:hover {
  background-color: #000000; 
  z-index: -1000000;
}
.article-box:hover p {
  color: white;
}

.article1-decor, .article2-decor, .article3-decor{
  height: 120px; 
  width: 120px;
}

.article1-decor{
  background:
  linear-gradient(to bottom right,#B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) bottom right,
  linear-gradient(to bottom left, #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) bottom left,
  linear-gradient(to top left,    #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) top left,
  linear-gradient(to top right,   #B52F97 0%, #B9A950 25.23%, #12C06C 38%, #9533E2 50%) top right;        
  border-radius: 50%; 
  background-size: 50.1% 50.1%;
  background-repeat:no-repeat;
}

.article2-decor{
  background:
  linear-gradient(to bottom, #D94040, #f8b568);       
}

.article3-decor{
  background: conic-gradient(
    from 180deg at 50% 50%, 
    #3877F1,                                
    #949fff34                 
  );     
  border-radius: 50%; 
}




@media screen and (min-width: 410px) {

  .intro-box{
    justify-content: center;
  }

}


@media screen and (min-width: 500px) {

  :root {
    --smalltitle-font-size: 2.6em;
    --subtext-font-size: 1em;
    --heading-font-size: 1.8em;
    --body-font-size: 1.2em;
    --article-font-size: 1.8em;
  }

}



@media screen and (min-width: 620px) {

  :root {
    --smalltitle-font-size: 3em;
    --subtext-font-size: 1.2em;
    --heading-font-size: 1.8em;
    --body-font-size: 1.2em;
    --article-font-size: 1.8em;
    --bigtitle-margin-top: -50%;
  }

}

@media screen and (min-width: 695px) {

  :root {
    --bigtitle-margin-top: -55%;
  }

}



@media screen and (min-width: 764px) {

  :root {
    --bigtitle-margin-top: -60%;
    --circle-margin-top: -85%;
    --subtext-font-size: 1.3em;
    --heading-font-size: 1.9em;
    --body-font-size: 1.3em;
  }

  h1 {
    margin-top: 17%;
  }

  .sub-text{
    margin-bottom: -45px;
  }

  .article-big-box{
    display: flex; 
    flex-direction: row; 
  }


  .article-box {
    flex-direction: column;
    border: 1px solid #000;
    border-left: none;
    width: clamp(239px, 30vw, 360px);
    height: 315px;
  }

  a:nth-child(1) .article-box {
    border-left: 1px solid #000;
  }

  .article-box p {
    text-align: center;
    padding-left: 0;
    padding-top: 1.5em;
  }

  .article1-decor, .article2-decor, .article3-decor{
    height: 160px; 
    width: 160px;
  }

}

@media screen and (min-width: 855px) {

  :root {
    --bigtitle-margin-top: -60%;
    --circle-margin-top: -90%;
  }

  h1 {
    margin-top: 14%;
  }

}


@media screen and (min-width: 920px) {

  :root {
    --bigtitle-margin-top: -65%;
    --circle-margin-top: -85%;
    --heading-font-size: 2.2em;
    --body-font-size: 1.5em;
  }

  h1 {
    margin-top: 12%;
    align-items: flex-end;
    margin-right: 9%;
  }

  .sub-text{
    margin-bottom: -65px;
  }

  .intro-container{
    flex-direction: row;
  }

  .intro-heading{
    flex-direction: column;
    align-items: flex-end;
  }

  .intro-text {
    margin-top: 0;
    margin-left: 30px;
    width: 376px;
  }

  .intro-line {
    border-right: 1px solid black;
    border-bottom: 0;
    width: 0;
    height: 215px; 
    margin-left: 30px;
  }
  
  .article1-decor, .article2-decor, .article3-decor{
    height: 190px; 
    width: 190px;
  }

  .article-box {
    height: 390px;
  }

}

@media screen and (min-width: 1000px) {
  :root {
    --bigtitle-margin-top: -69%;
    --circle-margin-top: -76%;
  }

  h1 {
    margin-top: 10%;
    margin-right: 9%;
  }
}


@media screen and (min-width: 1045px) {

  .background-circle{
    scale: 1.65; 
  }

  .sub-text{
    margin-bottom: -95px;
  }

  .article1-decor, .article2-decor, .article3-decor{
    height: 240px; 
    width: 240px;
  }

  .article-box {
    height: 490px;
  }
}

@media screen and (min-width: 1148px) {
  :root {
    --bigtitle-margin-top: -73%;
    --circle-margin-top: -79%;
  }

  h1 {
    margin-top: 7%;
    margin-right: 15%;
  }
}