@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&display=swap');


/* FONT */
:root {
	--font-garamond: 'Cormorant Garamond', serif;
  --font-dm-sans: 'DM Sans', sans-serif;
}

/* MARGINS */
:root {
	--headerfont-size: 2.5em;
  --margin-left: 23px;
  --margin-right: 23px;
}
  
  
/* HEADER ELEMENTS */
header{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: var(--margin-left);
  padding-right: var(--margin-right);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
}
  
header p:first-child {
  font-family: var(--font-garamond);
  font-weight: 500;
  font-style: italic;
  font-size: calc(0.6 * var(--headerfont-size));
  margin-bottom: -5px;
}
  
header p:nth-child(2) {
  font-family: var(--font-dm-sans);
  font-weight: 400;
  font-size: calc(0.4 * var(--headerfont-size));
  margin-bottom: -5px;
}






/* 850PX */
@media screen and (min-width: 850px) {

	:root {
	--headerfont-size: 3em;
	}

}